@model OrdenViewModel

<div>
    <h2>Busque su orden:</h2>
</div>

<form action="BuscarOrden" method="get">
    <input type="text" name="ordenId" />
    <input type="submit" value="Buscar" />
</form>


    <ul class="list-group">
        <li class="list-group-item disabled">OrdenId: @Model.OrdenId</li>
        <li class="list-group-item">Nombre: @Model.NombreCliente</li>
        <li class="list-group-item">Total: $@Model.TotalOrden</li>
        <li class="list-group-item">Fecha: @Model.FechaCompra</li>
        <li class="list-group-item">Direccion: @Model.Direccion, @Model.Ciudad</li>
        <li class="list-group-item">Telefono: @Model.Telefono</li>
    </ul>
