
<h1>
    @ViewBag.CheckoutCompleteMessage
</h1>


<h2>Numero de Orden: @Model.OrdenId</h2>
<h3>@Model.NombreCliente</h3>
<h4>@Model.Direccion, @Model.Ciudad</h4>
<h4>@Model.Telefono</h4>
<h4>@Model.Email</h4>
<h5>@Model.FechaCompra</h5>
<h3>$@Model.TotalOrden</h3>

